@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-text {
  font-family: var(--font-press-start);
}
.text-button {
  font-family: var(--font-poppins);
}

.logo-text {
  font-family: var(--font-poppins);
}
.text-about {
  font-family: var(--font-poppins);
}
.main-section {
  background-image: url('/cir4.png');
  background-size: 150px;
}
.paragraph-merlin {
  font-family: var(--font-poppins);

}
.animate-pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1
  }

  50% {
    opacity: 0
  }
}
.text-back {
  font-family: var(--font-press-start);
}
.text-continue {
  font-family: var(--font-press-start);
}
.section-game {
  background-image: url('/casttle-electric-image.jpg');
  background-repeat: no-repeat;
  background-size: full; 
}
.section-instructions {
  background-image: url('/casttle-electric-image2.jpg');
  background-repeat: no-repeat;
  background-size: full;
}
.text-instructions {
  font-family: var(--font-press-start);
}
@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }
}

.animate-float {
  animation: float 1s ease-in-out infinite;
}

@keyframes projectile {
  0% {
    opacity: 0.7;
    transform: scaleY(1);
  }

  50% {
    opacity: 1;
    transform: scaleY(1.2);
  }

  100% {
    opacity: 0.8;
    transform: scaleY(1);
  }
}
.game-container {
  background-image: url('/casttle-fire-image2.jpg');
  background-repeat: no-repeat;
  background-size: full;
}
.animate-projectile {
  animation: projectile 0.3s infinite;
}
.modal-header {
  font-family: var(--font-press-start);
}
.modal-body {
  font-family: var(--font-poppins);
}
.text-poppins {
  font-family: var(--font-poppins);
}
.section-casttle-one {
  background-image: url('/casttle-fire-image.jpg');
  background-repeat: no-repeat;
  background-size: full;
}
.text-hack-casttle {
  font-family: var(--font-press-start);
}
.text-paragraph {
  font-family: var(--font-poppins);
}
.text-next {
  font-family: var(--font-press-start);
}
@keyframes stars {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 1000px 1000px;
  }
}
@keyframes twinkle {

  0%,
  100% {
    opacity: 0.35;
  }

  50% {
    opacity: 0.45;
  }
}
.bg-stars {
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 30px 30px;
  opacity: 0.08;
}
.animate-stars {
  animation: stars 80s linear infinite, twinkle 3s ease-in-out infinite;
}
.text-start {
  font-family: var(--font-press-start);
}
.text-2p {
  font-family: var(--font-press-start);
}
.text-po {
  font-family: var(--font-poppins);
}
.game-container2 {
  background-image: url('/casttle-fire-image5.jpg');
  background-repeat: no-repeat;
  background-size: full;
}
.section-casttle-two {
  background-image: url('/casttle-fire-image7.jpg');
  background-repeat: no-repeat;
  background-size: full;
}
.game-container3 {
  background-image: url('/casttle-fire-image6.jpg');
  background-repeat: no-repeat;
  background-size: full;
}
.section-casttle-three {
  background-image: url('/casttle-fire-image8.jpg');
  background-repeat: no-repeat;
  background-size: full;
}
@keyframes firework {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.firework {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: radial-gradient(circle, #fff, transparent);
  animation: firework 1s ease-out infinite;
  z-index: 10;
}

.firework::before,
.firework::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: inherit;
  animation: firework 1s ease-out infinite;
}
.section-level-one {
  background-image: url('/casttle-fire-image.jpg');
  background-repeat: no-repeat;
  background-size: full;
}
.section-level-two {
  background-image: url('/casttle-fire-image5.jpg');
  background-repeat: no-repeat;
  background-size: full;
}
.section-level-three {
  background-image: url('/casttle-fire-image6.jpg');
  background-repeat: no-repeat;
  background-size: full;
}